* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
}

header {
    height: 550px;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

/* utility */

.left {
    margin-left: 10%;
}

.right {
    margin-right: 10%;
}

.outline {
    border: 1px solid white;
}

.bg_blue {
    background-color: #0C325A;
}

.bg_green {
    background-color: #7cbb02;
}

.solid {
    border: 1px solid #7cbb02;
    background-color: #7cbb02;
}


/* header */

.site_header {
    background-image: url(../img/background-header.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: 110%;
    background-position-x: 135%;
    position: relative;
}

.container {
    margin: auto;
    width: 80%;
    height: 60px;
    line-height: 60px;
}

.logo, .left_menu, .right_menu {
    float: left;
    font-size: 12px;
}

.logo, .left_menu, .right_menu, .cta { 
color: white;
text-decoration: none;
text-transform: uppercase;
}

.logo {
    width: 15%;
    margin-top: 5px;
}

.button {
    padding:  5px 15px;
    border-radius: 5px;
}

.cta {
    padding: 5px 15px;
    border-radius: 5px;
}

.left_menu {
    width: 45%;
}

.right_menu {
    width: 40%;
    text-align: right;
}

.left_menu a {
    padding: 10px 5px;
}

.right_menu a {
    margin-left: 5px;
}

.left_menu a:link, .right_menu a:link, .left_menu a:visited, .right_menu a:visited {
    text-decoration: none;
    color: white;
}

.container2 {
    position: absolute;
    bottom: 30%;
    left: 10%;
}

.motto {
    display: block;
    width: 60%;
    font-size: 52px;
}

.cta {
    display: inline-block;
    margin-top: 20px;
}

/* sezione main */

.motivational_banner {
    background-color: lightgrey;
}

.motivational_banner h2 {
    color: black;
    text-align: center;
    padding-top: 30px;
}
.motivational_banner p {
    color: grey;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 30px
}

/* sezione unique selling points */

.site_main {
    width: 100%;
}

.unique_selling_points, .discover {
    width: 100%;
    margin: auto;
}

.unique_selling_points h2 {
    display: inline-block;
    padding: 0 20px;
    color:  #7cbb02;
    font-size: 20px;
}
.unique_selling_points p {
    display: inline-block;
    margin: 2rem 0;
    padding: 0 20px;
    color:  grey;
    font-size: 14px;
    font-weight: bold;
}

.column {
    width: calc(80% / 3);
    text-align: center;
    float: left;
}

.column_image {
    width: 140px;
    height: 140px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* seconda parte sezione main */

.discover {
    width: 80%;
    margin: auto;
}

aside {
    width: 50%;
    height: 100%;
    float: left;
}

.left-column {
    background-image: url("/assets/img/mountain.svg");
    height: 500px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.right-column {
    position: relative;
}

.text-container {
    display: inline-block;
    position: absolute;
    top: 5rem;
    left: 2rem;
    text-align: left;
}

.text-container a {
    color: #6691c2;
}

.right-column a {
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
}

.right-column h2, .footer-left h2 {
    display: inline-block;
    width: 80%;
    padding: 0 20px;
    color:  black;
    font-size: 25px;
}

.right-column p {
    display: inline-block;
    width: 70%;
    margin: 0.5rem 0;
    padding: 0 20px;
    color:  grey;
    font-size: 14px;
}

/* footer */

footer {
    width: 100%;
    height: 150px;
    margin: auto;
    line-height: 150px;
    background-color: lightgrey;
}

.footer-left {
    width: 40%;
    margin-left: 10%;
    position: relative;
}

.footer-left h2 {
    position: absolute;
    left: 0;
    display: inline-block;
    line-height: 150px;
    vertical-align: middle;
    width: 80%;
    color:  black;
    font-size: 30px;
}

.footer-right {
    width: 40%;
    margin-right: 10%;
    color: grey;
}

option[value=""][disabled] {
    display: none;
  }

select {
    margin-left: 1rem;
    font-size: 16px;
    color: grey;
    background-color: lightgrey;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
}

.plan {
    margin-left: 1rem;
    border-radius: 5px;
    padding: 15px 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.help {
    position: fixed;
    bottom: 0;
    right: 20%;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #7cbb02;
    background-color: #7cbb02;
}